// Here you can add other styles

:root {
  --primary_color1: #63e7e7;
  --primary_color2: rgb(106, 255, 198);
  --primary_bgcolor: #003f67;
}

body {
  background-color: var(--primary_bgcolor);
}

.btnFacebook {
  width: 3rem;
  height: 3rem;

  border: 0px transparent;
  border-radius: 50%;
  padding-top: 1rem;

  background: #3b5998;

  font-size: 1rem;
  color: white;
  text-align: center;
}
.nav-link {
  color: black !important;
}
.nav-icon {
  color: var(--primary_bgcolor) !important;
}
.text-color-black {
  color: var(--cui-body-color);
}

.carousel-caption {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 119, 119, 0.75) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  left: 0;
}

.carousel-indicators {
  background-color: black;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: calc(var(--cui-gutter-x) * 0.5) !important;
  margin-right: calc(var(--cui-gutter-x) * 0.5) !important;
}
